@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


<h1>Welcome to My Sample .NET Core App!</h1>

<p>This is a simple homepage to demonstrate a .NET Core MVC application.</p>

<h2>Sample Data</h2>
<ul>
    <li>Data 1: Lorem ipsum dolor sit amet</li>
    <li>Data 2: Consectetur adipiscing elit</li>
    <li>Data 3: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
</ul>